In [1]:
print("Hello World")

Hello World

In [ ]:
!pip show camelot

In [ ]:
!pip install -qU camelot-py[base] matplotlib

In [8]:
import camelot

In [9]:
tables = camelot.read_pdf('/home/meet/Downloads/sample 1.pdf', pages="all", flavor='lattice')
tables

In [10]:
print(len(tables))

5

In [11]:
tables[4]

In [12]:
print(tables[4].parsing_report)

{'accuracy': 93.42, 'whitespace': 27.78, 'order': 1, 'page': 5}

In [13]:
table_to_df = tables[4].df
table_to_df

,0,1,2,3,4,5,6
0,Txn Date,Value\nDate,Description,Ref No./Cheque\nNo.,Debit,Credit,Balance
1,20 Jul 2021,20 Jul 2021 BY TRANSFER-INB,IMPS,,,1.00,"79,579.75"
2,20 Jul 2021,20 Jul 2021 by debit card-OTHPOS,,,"3,573.90",,"76,005.85"
3,23 Jul 2021,23 Jul 2021 WITHDRAWAL TRANSFER--,,TRANSFER TO,"10,000.00",,"66,005.85"
4,23 Jul 2021,23 Jul 2021 BULK POSTING-,,,,26.80,"66,032.65"
5,31 Jul 2021,31 Jul 2021 ATM WDL-ATM CASH,-,,"10,000.00",,"56,032.65"
6,2 Aug 2021,2 Aug 2021 BY TRANSFER-,NEFT*,TRANSFER\nFROM,,"148,621.10","1,04,653.65"
7,2 Aug 2021,2 Aug 2021 TO TRANSFER-INB,IMPS/,,"20,000.00",,"84,653.65"
8,8 Aug 2021,8 Aug 2021 ATM WDL-ATM CASH 4,2,,"10,000.00",,"74,653.65"
9,12 Aug\n2021,12 Aug\n2021,by debit loan-OTHPOS,,834.00,,"73,819.65"
10,16 Aug\n2021,16 Aug\n2021,ATM WDL-ATM CASH,,"10,000.00",,"63,819.65"
11,23 Aug\n2021,23 Aug\n2021,WITHDRAWAL TRANSFER--,TRANSFER TO,"10,000.00",,"53,819.65"
12,27 Aug\n2021,27 Aug\n2021,BULK POSTING-CR_PETROL\nDISCOUNT,,,15.00,"53,834.65"
13,30 Aug\n2021,30 Aug\n2021,by debit card-SBIPG\nAMAZON MUMBAI-,,"2,245.00",,"51,589.65"
14,30 Aug\n2021,30 Aug\n2021,ATM WDL-ATM CASH,,"10,000.00",,"41,589.65"
15,1 Sep 2021,1 Sep 2021 BY TRANSFER-,NEFT*,TRANSFER\nFROM,,"48,621.00","90,210.65"
16,1 Sep 2021,1 Sep 2021 TO TRANSFER-INB,IMPS/P2A/,,"2\n,000.00",,"7 ,210.65"
17,3 Sep 2021,3 Sep 2021 ATM WDL-ATM CASH 8876,,,,,"6 , 10.65"